* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background: #006a52;
  position: fixed;
  top: 0;
  z-index: 2;
  padding-bottom: 1rem;
}

.header-logo {
  width: 250px;
  margin: 1rem 0;
}

.header-logo-and-contact {
  width: 90%;
  margin: 0 auto;
}

.header-logo-and-hamburger {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: space-between;
}

.header-phone-number, .header-email {
  display: flex;
  align-items: center;
}

.header-phone-number {
  margin-left: 0.3rem;
}

.header-phone-number img {
  width: 19px;
  margin-right: 0.2rem;
}

.header-phone-number p, .header-email a {
  color: #fff;
  font-size: 1.1rem;
}

.header-email img {
  width: 32px;
}

@media (min-width: 768px) {
  header {
    padding-bottom: 0;
  }

  .header-logo-and-contact {
    width: 90%;
  }

  .header-content {
    width: 90%;
  }

  .header-logo {
    width: 250px;
    margin-top: 1.5rem;
  }

  .header-contact-and-nav {
    margin-top: -0.5rem;
  }

  .header-phone-number, .header-email {
    display: flex;
    align-items: center;
  }

  .header-phone-number p, .header-email a {
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }

  .header-phone-number img {
    width: 19px;
    margin-right: 0.2rem;
  }

  .header-email img {
    width: 32px;
  }
}
@media (min-width: 1000px) {
  .header-contact-info {
    display: flex;
    width: 400px;
    margin-left: 0.5rem;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  header .nav {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1100px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    width: 100%;
    transition: all ease-in-out 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav--show {
    opacity: 1;
    left: 0px;
    transition: all ease-in-out 0.4s;
    z-index: 2;
  }
}
.house-icon {
  width: 25px;
  margin-top: 1.2rem;
}

@media (min-width: 768px) {
  header .nav {
    display: block;
    text-align: right;
    position: relative;
    bottom: 25px;
  }

  header nav li {
    display: inline;
    margin-left: 1rem;
    color: #fff;
  }

  .house-icon {
    display: none;
  }

  .nav .nav-phone, .nav .nav-email {
    display: none;
  }
}
@keyframes slider {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: -500%;
  }
}
.image-slider-container {
  overflow: hidden;
  position: relative;
  top: 133px;
  height: 300px;
}

.image-slider {
  width: 600%;
  position: relative;
  margin: 0;
  left: 0;
  animation: 20s slider infinite ease-in-out;
}

.image-slide {
  width: 16.666%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

.image-slider-hampton {
  background-image: url("/wp-content/themes/vantageapartments/images/image-slider/image-slider-hampton.jpg");
}

.image-slider-twickenham {
  background-image: url("/wp-content/themes/vantageapartments/images/image-slider/image-slider-twickenham.jpg");
}

.image-slider-kingston {
  background-image: url("/wp-content/themes/vantageapartments/images/image-slider/image-slider-kingston.jpg");
}

.image-slider-teddington {
  background-image: url("/wp-content/themes/vantageapartments/images/image-slider/image-slider-teddington.jpg");
}

.image-slider-feltham {
  background-image: url("/wp-content/themes/vantageapartments/images/image-slider/image-slider-feltham.jpg");
}

@media (min-width: 1200px) {
  .image-slider-container {
    height: 400px;
  }
}
.single-post-container {
  position: relative;
  top: 140px;
}

.single-post-content {
  margin: 1rem 0;
}

.single-post-heading, .single-post-main-info, .single-post-apartment-details, .single-post-location-details, .single-post-building-details {
  width: 90%;
  margin: 2rem auto;
}

.single-post-heading {
  color: #006a52;
}

.single-post-main-info {
  margin: 2rem auto;
}

.single-post-main-info h3 {
  margin: 1rem 0;
  font-weight: 100;
}

h2 {
  color: #006a52;
  margin: 1rem auto;
}

.single-post-apartment-details {
  padding-bottom: 1rem;
  border-bottom: 4px solid rgba(0, 106, 82, 0.3);
}

.single-post-map {
  width: 100%;
}

@media (min-width: 768px) {
  .single-post-container {
    top: 145px;
  }
}
@media (min-width: 1000px) {
  .single-post-container {
    top: 135px;
  }

  .single-post-heading, .single-post-main-info, .single-post-apartment-details, .single-post-location-details, .single-post-building-details {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .single-post-heading {
    grid-area: postheading;
  }

  .single-post-main-info {
    grid-area: postmaininfo;
  }

  .single-post-image-gallery {
    grid-area: imagegallery;
  }

  .single-post-apartment-details {
    grid-area: apartmentdetails;
    border-bottom: none;
  }

  .single-post-location-details {
    grid-area: locationdetails;
    margin-bottom: 0rem;
    padding: 0rem 2rem;
  }

  .single-post-location-details, .single-post-map {
    background: #CCF0E8;
  }

  .single-post-map {
    grid-area: postmap;
    width: 90%;
    padding: 1.5rem;
    justify-self: center;
  }

  .single-post-building-details {
    grid-area: buildingdetails;
    margin-top: 1rem;
  }

  .single-post-building-details h2 {
    margin-top: 0rem;
  }

  .single-post-heading-and-info {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-areas: "postheading ." "postmaininfo imagegallery" "locationdetails apartmentdetails" "postmap buildingdetails";
    justify-content: center;
  }

  .single-post-content p {
    font-size: 1.1rem;
  }
}
@keyframes slider {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: -500%;
  }
}
.single-post-content .single-post-image-gallery {
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.single-post-content .single-post-image-gallery .wp-block-group__inner-container {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 25s slider infinite ease-in-out;
}

.single-post-content .single-post-image-gallery .wp-block-group__inner-container figure {
  float: left;
  width: 25%;
}

.single-post-content .single-post-image-gallery .wp-block-group__inner-container figure img {
  width: 100%;
}

@media (min-width: 600px) {
  .single-post-content .single-post-image-gallery {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .single-post-content .single-post-image-gallery {
    height: 400px;
  }
}
@media (min-width: 1700px) {
  .single-post-content .single-post-image-gallery {
    height: 500px;
  }
}
footer {
  position: relative;
  top: 140px;
  width: 100%;
  background-color: #323031;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.footer-content {
  width: 90%;
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
  margin: 0 auto;
}

.footer-content-nav {
  margin-right: 2rem;
}

footer .copyright {
  width: 100%;
  background: rgba(0, 0, 0, 0.32);
  text-align: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .footer-content {
    width: 80%;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
