@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.all-apartments-page-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.all-apartments-page-content {
  width: 90%;
  margin: 1rem auto;
}

.all-apartments-page-post-card {
  border-bottom: 4px solid $border-bottom;
  padding: 1rem 0;
  
}

.all-apartments-page-post-card-heading a {
  color: $primary-green;
}

.all-apartments-page-post-card-heading, .all-apartments-page-post-card-excerpt {
  width: 90%;
  margin: 1rem auto;
}

.all-apartments-page-heading a {
  color: $primary-green;
}

.all-apartments-page-post-card-excerpt {
  text-align: center;
  margin-top: 1rem;
}

.all-apartments-page-post-card-thumbnail {
  margin: 1rem 0rem;
}

.all-apartments-page-thumbnail img {
  width: 100%;
}

.all-apartments-page-post-card-excerpt {
  text-align: left;
}

.all-apartments-page-post-card-excerpt ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
}

.all-apartments-page-post-card-excerpt ul li {
  margin-bottom: 0.5rem;
}

.all-apartments-page-post-card-excerpt ul li .fas {
  color: #43B59C;
  padding-right: 0.5rem; 
}

@media(min-width:425px) {

  .all-apartments-page-post-card-excerpt ul {
    font-size: 0.9rem;
  }
}


@media(min-width:650px) {

  .all-apartments-page-container {
    margin-top: 6rem;
  }

  .all-apartments-page-post-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  .all-apartments-page-post-card {
    background: $faded-green;
    padding: 0rem 1rem 1rem 1rem;
    margin-bottom: 3rem;
    border-bottom: none;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  }

  .all-apartments-page-heading {
    color: $primary-green;
  }

  .all-apartments-page-post-card-heading a {
    font-size: 1rem;
  }

  .all-apartments-page-post-card-heading, .all-apartments-page-post-card-excerpt {
    width: 100%;
    margin: 1rem 0;
  }

  .all-apartments-page-post-card-excerpt ul {
    font-size: 0.8rem;
  }

  .all-apartments-page-post-card-excerpt ul {
    display: block;
    font-size: 1rem;
  }
}


@media(min-width: 850px) {

  .all-apartments-page-post-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1250px) {

  .all-apartments-page-post-card-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}