.location-page-container {
  position: relative;
  top: 157px;
  margin-bottom: 1rem;
}

.location-page-content {
  width: 90%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border-bottom: 4px solid $border-bottom;
}

.location-page-heading {
  color: $primary-green;
}

.location-page-main-info h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem
}

.location-page-post-card {
  margin-bottom: 3rem;
}

.location-page-post-card-heading {
  width: 85%;
  margin: 1rem auto;
  color: $primary-green;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.location-page-post-card-excerpt p {
  text-align: center;
  margin-bottom: 1rem;
  width: 85%;
  margin: 1rem auto;
}

.location-page-post-card-heading a {
  color: $primary-green;
}

.location-page-post-card-excerpt {
  width: 90%;
  margin: 1rem auto 0 auto;
}

.location-page-post-card-excerpt ul li .fas {
  color: #43B59C;
  padding-right: 0.5rem; 
}

@media(min-width: 768px) {

  .location-page-container {
    top: 182px;
    margin-top: 2rem;
  }

  .location-page-post-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .location-page-post-card {
    width: 45%;
  }

  .location-page-post-card img {
    width: 100%;
  }
}

@media(min-width: 1200px) {

  .location-page-post-card-container {
    justify-content: start;
  }

  .location-page-post-card {
    width: 30%;
    margin-right: 5%;
  }

  .location-page-post-card:nth-child(3n) {
    margin-right: 0rem;
  }
}

@media(min-width: 1450px) {
  .location-page-post-card {
    width: 21.2%;
  }

  .location-page-post-card:nth-child(3n) {
    margin-right: 5%;
  }

  .location-page-post-card:nth-child(4n) {
    margin-right: 0rem;
  }
}