.page-container {
  position: relative;
  top: 191px;
  width: 90%;
  margin: 1rem auto;
}

.page-heading {
  font-size: 2.2rem;
  color: $primary-green;
}

.page-container h2 {
  font-size: 1.3rem;
}

.page-container p {
  margin-bottom: 2rem;
}