svg {
  position: absolute;
  top: 132px;
}

.svg-middle {
  top: 87px;
}

.svg-top {
  top: 15px;
  right: 185px;
}

.single-post-container {
  position: relative;
  top: 140px;
}

.single-post-content {
  margin: 1rem 0;
}

.single-post-content h2 {
  margin: 1rem auto;
  font-weight: 100;
  font-size: 1.3rem;
}

.single-post-content h3 {
  color: $primary-green;
  margin: 1rem auto;
  font-size: 1.5rem;
}

.single-post-heading, .single-post-main-info, .single-post-apartment-details, .single-post-location-details, .single-post-building-details {
  width: 90%;
  margin: 2rem auto;
}

.single-post-heading {
  color: $primary-green;
}


.single-post-main-info {
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 4px solid rgba(127,180,168, 0.3);
}


.single-post-map {
  width: 100%;
}

@media(min-width: 768px) {

  .single-post-container {
    top: 145px;
  }

  .single-post-heading {
    font-size: 2.5rem
  }
}

@media(min-width: 1000px) {
  .single-post-container {
    top: 135px;
  }

  .single-post-heading, .single-post-main-info, .single-post-apartment-details, .single-post-location-details, .single-post-building-details {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
  }
  .single-post-heading {
    grid-area: postheading;
  }

  .single-post-main-info{
    grid-area: postmaininfo;
    border-bottom: none;
  }

  .single-post-image-gallery {
    grid-area: imagegallery;
  }

  .single-post-apartment-details {
    grid-area: apartmentdetails;
  }

  .single-post-location-details {
    grid-area: locationdetails;
    margin-bottom: 0rem;
    padding: 0rem 2rem;
  }

   .single-post-location-details, .single-post-map {
    background: rgba(127,180,168, 0.1);
  }

  .single-post-map {
    grid-area: postmap;
    width: 90%;
    padding: 1.5rem;
    justify-self: center;
  }

  .single-post-building-details {
    grid-area: buildingdetails;
    margin-top: 1rem;
  }

  .single-post-building-details h2 {
    margin-top: 0rem;
  }

  .single-post-heading-and-info {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-areas: 
    "postheading ."
    "postmaininfo imagegallery"
    "locationdetails apartmentdetails"
    "postmap buildingdetails";
    justify-content: center;
  }

  .single-post-content p {
    font-size: 1.1rem;
  }
}