
.front-page-opener-container {
  position: relative;
  top: 25px;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  background: rgba(250, 250, 250, 0.8);
  color: black;
  box-shadow: 2px 0px 16px -4px black;
  border-radius: 1%;
}

.contact-hero {
  width: 90%;
  text-align: center;
  margin:0rem auto;
  padding: 5rem 0;
}

.contact-hero img {
  width: 70%;
  margin-bottom: 2rem;
}

.contact-hero p {
  margin-bottom: 1.5rem;
}

.contact-hero-phone-number, .contact-hero-email a {
  color: $primary-green;
  font-size: 1.2rem;
}

.contact-hero-phone-number .fas {
  margin-right: 0.5rem;
}

@media(min-width: 375px) {
  .front-page-opener-container {
    top: 20px;
  }
}

@media(min-width: 768px) {
  .front-page-opener-container {
    top: 55px;
  }
}

@media(min-width: 1000px) {
  .front-page-opener-container {
    font-size: 1.3rem;
  }

  .contact-hero img {
    width: 600px;
    margin-bottom: 2rem;
  }
}