.mobile-front-page-opener-container {
  position: relative;
  top: 80px;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
  font-size: 1.2rem;
  background: #fff;
  color: $primary-green;
  box-shadow: 2px 0px 16px -4px black;
  border-radius: 1%;
}
