
.mobile-front-page-location-post-container img {
  width: 100%;
}

.mobile-front-page-location-post-card {
  margin-bottom: 1.5rem;
}

.mobile-front-page-location-heading {
  padding: 1rem 0;
  font-weight: 100;
}

.mobile-front-page-location-heading a {
  color: $primary-green;
}

.mobile-front-page-location-heading, .mobile-location-post-card-info {
  width: 80%;
  margin: 0 auto;
}

.mobile-location-post-card-info h3 {
  margin-bottom: 1rem;
}

.mobile-location-post-card-info ul li .fas {
  color: #43B59C;
  font-size: 0.9rem;
  padding-right: 0.5rem;
}

.mobile-location-post-card-info ul li span:after {
  width: 100%;
}

.mobile-location-post-card-info ul li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media(min-width: 768px) {
  .mobile-front-page-location-post-grid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mobile-front-page-location-post-card {
    width: 45%;
  }

  .mobile-front-page-location-heading, .mobile-location-post-card-info {
    width: 100%;
    margin: 0;
  }
}



@media(min-width: 1000px) {
  .mobile-front-page-location-post-container {
    display: none;
  }

}